@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins";
}

body {
    background: #f5f5f5;
}

label {
    font-size: 0.875rem;
    font-weight: 600;
}

input {
    border: 2px solid #CBD2E0;
    border-radius: 6px;
    height: 3rem;
    padding: 0.5rem 1rem;
    height: 2.5rem;
    width: 26.25rem;
    outline-color: #34AFF7;
    color: #4A5468;
}

button {
    border-radius: 6px;
    padding: 1rem 1.5rem;
    font-weight: bold;
}

th {
    border: 1px solid #CBD2E0;
    font-size: 14px;
    font-weight: 400;
    padding: 8px;
}

td {
    border: 1px solid #CBD2E0;
    font-size: 14px;
    font-weight: 400;
    padding: 8px;
}